*{box-sizing: border-box;}

body {
	font-family: 'Gentium Basic', serif, 'Open Sans', sans-serif;
	font-size: .75rem /*12px*/;
}

img { max-width: 100%; }

.container {
	margin: 0 auto;
	max-width: 1400px;
	width: 100%;
}


/* font/text aligment and sizing*/

nav{
	text-align: right;
}

nav ul li{
	display: inline-block;
	list-style: none;
	padding:0 .5rem;
}

nav ul li a{
	font-size: 2rem /*32px*/;
	font-weight: normal;
	padding: 0 8px;
	text-decoration: none;
}

main{
	font-size:.75rem /*12px*/;
	padding: 2rem 0;
}

h1{ font-size:2.5rem /*40px*/;
	text-align: center;
	padding: 4rem 0 2rem;
}

h3{ font-size:1.5rem /*24px*/;}

h5{font-size: .875rem /*14px*/}

.biocontent{
	text-align: left;
	line-height: 20px;
	text-indent: 2em;
	padding: 2rem;
	width: 100%;
	max-width: 900px;
}

.projectinfo{
	text-align: left;
	line-height: 20px;
	text-indent: 2em;
	padding: 1rem 2rem 0;
	width: 100%;
	max-width: 900px;
}

.contact article{text-align:center;}

article{text-align: left}

.footer{
	font-size:1rem /*16px*/;
	padding-bottom: 2rem;
	text-align: center;
}

footer ul li a{
	text-decoration: none;
	padding: 8px;
}


/* color*/

nav ul li a{
	color:rgb(35,60,116);
}

nav ul li a:hover{
	color: rgb(38,157,225);
}

nav ul li a.active {
  color: rgb(134,134,134);
}

h1{color: rgb(38,157,225);}

h3{ color: rgb(21,112,146);}

footer ul li a{color: rgb(134,134,134);}


/*homepage project images*/

.coverimage figcaption{
	font-size: 1.5rem; /*24px*/
	text-align: center;
}

.coverimage img{
	transition: opacity 0.6s ease-in-out;
}

.coverimage:hover img{
	opacity: .6;
}

.coverimage figcaption{
	color: rgb(21,112,146);
	opacity:0;
}

.coverimage:hover figcaption{
	opacity: 1;
}


/*sizing and position*/

.container {
	margin:0 auto;
	max-width: 1400px;
	width: 100%;
}

header{
	position:fixed;
	width: 100%;
	background-color: lightgray;
}

.header_logo{ 
	width: 50%; 
	float: left;
}

nav{ 
	width: 50%;
	float: left;
	 }

nav{
	top:0;
	left:0;
	height:4rem;
}

.gallery{
	padding: 8rem 4rem;
}

.main_resume{
	padding: 4rem 0 0;
	padding-left: 2rem;
}

.biopic{
	float: left;
	margin:30px 0 10px 20px;
	padding: 0 20px;
	width: 350px;
}

.footer ul li {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 1.5rem;
}


/* grid structure*/

.col{ 
	border: 1px solid lightgray;
	padding: 4rem 0;
	width: 50%; }

.projects .row{
	overflow: auto;
}

.projects .row .col{
	float: left;
	width: 50%;
	width: calc(100%/2);
}

.coverimage{
	width: 400px;
	height: 500px;
}
